<mat-card class="no-padding overflow-auto">
  <table class="magicTable" matSort (matSortChange)="sortData($event)">
    <thead>
    <tr>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="lastName">Last name</th>
      <th mat-sort-header="value">Value</th>
      <th class="collapse"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickeable hover-sensitive" *ngFor="let item of sortedData">
      <td>{{item.name}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.value}}</td>
      <td colspan="1">&rarr;</td>
    </tr>
    </tbody>
  </table>
  <mat-paginator [length]="sortedData"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</mat-card>
