.magicTable {

  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: transparent;
  table-layout: auto;

  tr {
    border-bottom: solid 1px #e4e4e4;
  }

  th {
    padding: 16px 24px;

    &.collapse {
      width: 1px;
    }
  }

  td {
    padding: 14px 22px;
  }

}
